{% extends 'backend/base.html' %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Product list</title>
    <style>
        .variant-content {
            height: 80px;
            overflow: hidden;
        }
        .variant-content.show {
            height: auto;
        }
    </style>
</head>
<body>
    {% block content %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4" style="margin-left: 235px;">
        <h1 class="h3 mb-0 text-gray-800">Products</h1>
    </div>
    <div class="card-body" style="margin-left: 235px;">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Variants</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ product.product_title }}<br></td>
                        <td>{{ product.product_description }}</td>
                        <td>
                            <dl class="row mb-0 variant-content" id="variant{{ forloop.counter }}">
                                {% for variant in product.productvariant_set.all %}
                                <dt class="col-sm-3 pb-0">{{ variant.variant_title }}</dt>
                                <dd class="col-sm-9">
                                    <dl class="row mb-0">
                                        {% for price in product.productvariantprice_set.all %}
                                        <dd class="col-sm-4 pb-0">Price: {{ price.price }}</dd>
                                        <dd class="col-sm-8 pb-0">InStock: {{ price.stock }}</dd>
                                        {% endfor %}
                                    </dl>
                                </dd>
                                {% endfor %}
                            </dl>
                            <button onclick="document.getElementById('variant{{ forloop.counter }}').classList.toggle('show')" class="btn btn-sm btn-link">Show more</button>
                        </td>
                        <td><a href="{% url 'product:edit_product' product.id %}" class="btn btn-warning btn-sm">Edit</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- Pagination controls -->
            <nav style="display: flex; justify-content: center;" aria-label="Page navigation example">
                <ul class="pagination">
                    {% if products.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{products.previous_page_number}}" aria-label="Previous">
                            Previous
                        </a>
                    </li>
                    {% endif %}
                    <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
                    <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    {% if products.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{products.next_page_number}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    {% endblock %}
</body>
</html>
